# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.DS_Store
k6-dev-ck.js
cmd/web/__debug_bin*

# priv keys
iac/cert.pem
cert.pem
iac/.terraform
iac/.terraform.lock.hcl
iac/.terraform.tfstate.lock.info
iac/terraform.tfstate
iac/terraform.tfstate.backup
