p {
    color: red;
    text-align: center;
}

#startform {
    padding-top: 20px;
    padding-bottom: 20px;
}

#stopwatchDiv {
    font-size: large;
    background-color: beige;
}

#failedRequestsDiv {
    font-size: medium;
    background-color: rgb(227, 93, 93);
}

#successfulRequestsDiv {
    font-size: medium;
    background-color: rgb(201, 255, 201);
}

#vusDiv {
    font-size: medium;
    background-color: rgb(208, 210, 255);
}